body{
   overflow-y:hidden ;
}

#file-list{
    display: flex;
    flex-direction: row;
}

.asside{
    width: 20%;
    height: 100%;
    padding-left: 2%;
    background: #eee;
    position: absolute;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    transition: all 0.3s ease 0s;
    overflow-y: visible;
    z-index: 10000;
    
}
.asside-body h3{
    margin: 5% 0;
    width: 90%;
}
.asside-body{
    display: flex;
    flex-direction: column;
    width: 90%;
    transition: all 0.3s ease 0s;
}
.span-list{
    height: 100%;
    width: 100%;
}
.xml-item{
    margin: 5% 2%;
    border-bottom: solid;
    border-color: darkgray;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease 0s;
}
.xml-item:hover{
    border-radius: 15px;
    border: solid;
    border-color: #008242;
    padding: 2%;
    cursor: pointer;
}
.active-item{
    border-radius: 15px;
    padding: 2%;
    cursor: pointer;
    background: #05ff8213;
}


.xml-item strong{
    color: rgb(192, 192, 192);
    font-size: 12px;
}
#comparar{
    margin-top: 1rem;
    background-color: rgb(59, 142, 145);
}
#comparar:hover{
    background-color: rgba(95, 158, 160, .8);
}

.asside .collapse-btn{
    height: 100%;
    width: 10%;
    background: #ccc;
    cursor: pointer;
}
.asside .material-icons{
    margin: 1200% auto;
    cursor: pointer;
}

.asside-closed{
    transform: translateX(-92%);
    overflow-y: hidden;
    transition: all 0.3s ease 0s;


}

.visual{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 20%;
    width: 80%;
    height: 600px;
    vertical-align: top;
    text-align: center;
    padding: 3%;
    position: relative; 
    transition: all 0.3s ease 0s;
    overflow-y: scroll;
    overflow-x: auto;

}
.visual-full{
    margin-left: 0;
    width: 100%;
    transition: all 0.3s ease 0s;
}
.warning{
    margin: auto auto;

}
.xml-table{
    width: 100%;
    display: none;
    
}
.hidden-table{
    display: table;
}


.xml-table th{
    color:aliceblue; 
    background-color: #008242;
    padding: 0 .2rem;
    width: fit-content;
    width: auto;
    height: auto;
}
.xml-table th div{
  resize: horizontal;
  overflow: auto;
  margin: 0px;
  padding: 0px;
  display:block;
  width: auto;
  height: auto;
}
.xml-table .table-name{
    background-color: #ccc;
    padding: .5rem;
    color: black;
    border-radius: .5rem;
   
}
.xml-table .file-download{
    background-color: rgb(123, 212, 130);
    border-radius: .5rem;
    padding: .5rem;
}
.xml-table .table-ln{
    width: fit-content;
}
.row{
    font-size: smaller;
    background-color: #eee;
    width: 100%;
}
.high-light{
    background: red;
    color: white;
}
@media(max-width: 1200px){
    .visual{
        height: 600px;
    
    }
}

@media(min-width: 1500px){
    .visual{
        height: 900px;
    
    }
}
