@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.btn{
    padding: 9px 25px;
    background-color: rgba(0, 130, 66, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    width: fit-content;
}
.btn:hover{
    background-color: rgba(0, 130, 66, 0.8);
}

header li, a{
    
    font-weight: 600;
    font-size: .8rem;
    text-decoration: none;
    color: black;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 3%;
    background: #f7f6f6;
}
.logo{
    cursor: pointer;
    margin-right: auto;
}

.nav_link{
    list-style-type: none;
}
.nav_link li{
    display: inline-block;
    padding: 0 20px;
}
.nav_link li a{
    transition: all 0.3s ease 0s;
}
.nav_link li a:hover{
    transition: all 0.3s ease 0s;
    color: #008242;
    
}
header button{
    padding: 9px 25px;
    background-color: rgba(0, 130, 66, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
}
header button:hover{

    background-color: rgba(0, 130, 66, 0.8);

}

/* corpo */

main{
    display: flex;
    flex-direction: column;
    
}

/* collapse */

.collapsible {
    background-color: #eee;
    cursor: pointer;
    padding: .5%;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    text-align: center;
    z-index: 10;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #ddd;
    
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: .5% 18px;
    overflow: hidden;
    background-color: #ffff;
    transition: all 0.3s ease 0s;
    box-shadow: 20px 0px 15px #9b9999;
    position: absolute;
    z-index: -100000;
    width: 100%;
    transform: translateY(-150%);
    
  }
  .active_content{
    transform: translateY(0%);
    position: sticky;
  }

.content p{
    margin: 0 3%;
    color: rgb(114, 114, 114);
}

main h3{
    padding:  0.5% 3%;
    color: #008242;
    text-align: center;
}
#upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    
}

/* Drag adn drop */
.drop-files{
    margin: 10px auto;
    /* background: #eee; */
    width: 100%;
    transition: all 0.3s ease 0s;
    padding:  0.3% 3%;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;

}
.drop-area{
   
    border-radius: 30px;
    padding: 4%;
    box-shadow: 0px 10px 15px #b3b1b1;
    background: rgb(244, 255, 244);
  

}
.dashed-area{
    padding: 10%;
    border: dashed;
    border-radius: 25px;
    border-color: #dce7fa;
    border-width: .15rem;
    margin-top: .3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: medium;
    justify-content: center;
    transition: all 0.3s ease 0s;
   

}

.drag-button{
    padding: .5%;
    color: rgba(0, 130, 66, 1);
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: bold;
    margin-bottom: 10px;
}
.drag-button:hover{
   color: rgba(0, 130, 66, 0.6);

}

.drag-support {
    font-size: 14px;
}

.drag-area-active{
    color:rgba(0, 0, 0, 0.096);
    padding: 10%;
    border: solid;
    border-color: #008242;

}
.upload_btn{
    margin: 0 auto;
}

.addedFiles { 
    margin: 2% auto;
    padding-bottom: auto;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: row;
}

.addedFiles .file{
   
    width: 50%;
    margin: 1%;
    display: flex;
    flex-direction: column;
}
.file span{
    margin: 5px auto;
    border-radius: 20px;
    background-color: rgba(0 0 0 .5);
    color:rgb(92, 92, 92);
    padding: 2% 5%;
    font-size: 14px;
    width: 100%;
    
}

/* Rodapé do site */
footer{
    background: #008242;
    display: flex;
    justify-content:center;
    position: relative;
    align-items: center;
    text-align: center;
    bottom:0;
    width: 100%;
    
   
}
footer p, h3{
    color: #edf0f1;
}
footer p{
    font-size: .7rem;
    padding: 2% 0;
}


